$width_total: 1450px;
$green_background: rgba(0, 91, 0, 0.75);
$green_background_shadow: rgb(0, 62, 0);

.roulette_straight_rolex {
  width: 100%;
  margin-top: 25px;
  height: 100px;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  position: relative;

  .roulette-debugv {
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    right: 5px;
    font-size: x-small;
    line-height: inherit;
  }

  .roulette-indicator {
    position: absolute;
    left: 125px;
    margin: 0;
    width: 1px;
    height: 50px;
    background-color: #fff;
    z-index: 1;
  }

  .roulette-scroll {
    position: absolute;
    height: 50px;
    margin-top: 0;
    overflow: hidden;

    .r-reel-row {
      height: 50px;
      background: #f8d41c;
      float: left;

      .r-box {
        width: 50px;
        height: 50px;
        float: left;

        span {
          line-height: 50px;
          text-align: center;
          color: #fff;
          align-self: center;
          font-weight: 700;
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }

      }
    }

  }

}
