
input[type=number], select[type=number], textarea[type=number] {
  padding-right: 0;
}

input {
  background-color: rgba(17, 17, 23, .23);
  border: 1px solid #080808;
  padding: 0 10px;
  line-height: 46px;
  height: 46px;
  color: #fff;

  &.wrong {
    border-color: #ff0200 !important;
  }
}

.btn, button {

  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  display: inline-block;
  cursor: pointer
}

.bet-row {
  @include noselect;
  user-select: none;
  background-color: #080808;
  border: 1px solid #151515;
  border-left: 0;
  border-right: 0;
  flex-shrink: 0;
  width: 400px;
  min-width: 100%;
  height: 70px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  align-content: center;
  color: white;

  .bombs {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 20px;

    .bomb {
      height: 70px;
      line-height: 70px;
      cursor: pointer;
      font-size: 16px;
      display: block;
      padding: 0 0 0 45px;
      margin-left: 0px;
      background: url("~assets/img/kraken_alive.png") no-repeat 0 30px;
      background-position: 13px 50%;
      background-size: 25px 25px;
      border-bottom: 1px solid transparent;

      &.active {
        border-color: $colorDown;
      }
    }
  }

  .boxout {
    margin: 20px 0;
    background: linear-gradient(-135deg, $colorUp 0%, $colorDown 100%);
    padding: 2px;
    display: block;
    position: relative;

    .cooldown {
      position: absolute;
      height: 2px;
      background: $colorUp;
      background: linear-gradient(-135deg, $colorUp 0%, $colorDown 100%);
      left: 0;
      bottom: 0;
      z-index: 2;
    }

    button, a {
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      padding: 10px;
      background-color: #080808;
      font-size: 14px;
      font-weight: 700;
      display: flex;
      display: -webkit-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      transition: all .4s ease;
      text-decoration: none;
      color: $colorUp;

      :hover {
        background-color: transparent;
        color: #000
      }

      .active {
        filter: brightness(0)
      }
    }

    .icon {
      margin-right: 10px
    }

    &.disabled, :disabled, .stop {
      background: #1f1b1b;

      button {
        color: $colorDown;
      }
    }

    :hover {
      background-color: transparent;
      color: #000
    }

    &.active {
      //        filter: brightness(0)
      background: linear-gradient(-135deg, rgba(159, 158, 160, 0.71) 0%, #212328 100%);
    }

    &.done {
      opacity: .3;
      background: #4ec400
    }
  }
}

.balance-wrapper {
  position: relative;

  p {
    font-size: 24px;
    font-weight: 300;
    margin: 0 10px;
    line-height: 20px;

    .symbol-coins {
      color: white;

      &:before {
        width: 1.1em;
        height: 1.1em;
        display: inline-block;
        vertical-align: middle;
        background-size: cover;
        background-image: url("~assets/img/coin_default.png");
        //      background-repeat: no-repeat;
        margin: 0 2px;
        position: relative;
        content: "";
      }
    }
  }

  .new_balance {
    color: $colorUp;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
  }
}
