//@import "../presents/base";
.roulette_straight_rolex {
  .r-box {
    &:nth-child(odd) {
      background: #5900ff;
    }

    &:nth-child(even) {
      background: #ff0066;
    }

    &:nth-child(1) {
      background: green !important;
    }
  }

}
