<template>
  <div class="roulette_straight_rolex">
    <div id="rulx-scroll-box-wrapper">
      <div
        id="scroll"
        :style="styleObject.scroller"
        class="roulette-scroll"
      >
        <div
          v-for="k in repeat_full"
          :key="k"
          class="r-reel-row"
        >
          <div
            v-for="v in roulette_max_num"
            :key="v"
            class="r-box"
          >
            <span>{{ v }}</span>
          </div>
        </div>
      </div>
      <div class="roulette-indicator" />
    </div>
  </div>
</template>
<script>
// eslint-disable-next-line import/no-extraneous-dependencies
import {TweenMax, Power4, Power2} from "gsap"
import mixinsReelFly from "../util/mixinsReelFly"

export default {
  name: "Reellet",
  mixins: [mixinsReelFly],
  mounted() {
    const box_w = this.box_w
    const num = this.roulette_max_num
    const repeat = this.repeat_full
    this.$nextTick(() => {
      // const w = document.getElementById("rulx-scroll-box-wrapper").clientWidth
      // const box_w = document.getElementsByClassName("r-box").clientWidth
      // margin-left: calc(250px - 25px - (1450px * 1) - (50px * 0));
      const item_full = num * box_w
      // const init_position_c = w - box_w / 2 - box_w - item_full * repeat / 2
      const init_position = -item_full * 2
      this.item_full = item_full
      TweenMax.set(".roulette-scroll", {
        width: `${item_full * repeat}px`,
        "margin-left": `${init_position}px`
      })
      TweenMax.set(".r-reel-row", {
        width: `${item_full}px`
      })
    })
  },
  beforeDestroy() {
    this.rolling = false
    this.ready_roll_again = true
  },
  methods: {
    roll_start() {
      if (this.rolling) {
        return
      }
      if (!this.ready_roll_again) {
        return
      }
      this.rolling = true
      this.ready_roll_again = false
      this.run_tl = this.getEngine().to(".roulette-scroll", 2.8, {
        "margin-left": `+=${this.item_full}`,
        modifiers: {
          "margin-left": this.displacement()
        },
        ease: "none",
        onUpdate: this.displaceUpdate,
        repeat: -1
      })
      this.$emit("reel_roll_state_rolling")
    },
    roll_stop(N) {
      if (!this.rolling) {
        return
      }
      const offset_target_n = 3
      const boxWidth = this.box_w
      this.ready_roll_again = false
      this.rolling = false
      this.run_tl.pause()
      let rx = 0
      let v = 0
      this.target_n = N
      let rollatpos = this.rx_x
      let dx_roll = 0
      while (rollatpos < 0) {
        rollatpos += this.item_full
      }
      while (rx < rollatpos) {
        rx = -boxWidth * (N - offset_target_n) + this.item_full * v
        v++
      }
      dx_roll = rx - this.rx_x
      this.run_tl = this.getEngine().to(".roulette-scroll", 10, {
        "margin-left": `${this.rx_x + dx_roll}px`,
        modifiers: {
          "margin-left": this.displacement()
        },
        ease: Power4.easeOut,
        onUpdate: this.displaceUpdate,
        repeat: 0
      }).call(() => {
        this.ready_roll_again = true
        this.$emit("reel_roll_complete")
      })
    },
    stop_debug() {
      const ek = Math.floor(Math.random() * 36) + 1
      this.roll_stop(ek)
    },
    stop_fixed() {
      if (!this.rolling) {
        return
      } else {
        this.rolling = false
      }
      // const repeats = Math.floor(this.run_tl.totalTime() / this.run_tl.duration())
      // console.log(this.run_tl.totalTime())
      this.run_tl.pause()
      this.run_tl = this.getEngine().to(".roulette-scroll", 5, {
        "margin-left": `${this.rx_x + 1000}px`,
        modifiers: {
          "margin-left": this.displacement()
        },
        ease: Power2.easeOut,
        onUpdate: this.displaceUpdate,
        repeat: 0
      })
    },
    displacement() {
      return this.GSAP().utils.unitize((x) => {
        if (x > -this.item_full) {
          return parseFloat(x) - this.item_full * (this.repeat_full - 3)
        } else {
          return parseFloat(x) % (this.item_full * this.repeat_full)
        }
      })
    },
    displaceUpdate() {
      this.rx_x = this.GSAP().getProperty(".roulette-scroll", "margin-left")
      this.out_display = Math.abs(this.rx_x % this.item_full) / 50 + 1
      this.$emit("reel_debug", {
        rx_x: this.rx_x,
        target_n: this.target_n,
        out_display: this.out_display,
        rolling: this.rolling,
        ready_roll_again: this.ready_roll_again
      })
    },
    getEngine() {
      return this.$gsapTimeLine({
        defaults: {
          duration: 0.8,
          ease: Power4.easeInOut
        }
      })
    }
  }
}
</script>
