<template>
  <div id="app">
    <Reellet
      ref="scale_reel"
      :debug_ds="false"
      :box_w="50"
      :roulette_max_num="37"
      @reel_roll_state_rolling="roll_start"
      @reel_roll_complete="roll_done"
      @reel_debug="roll_debug_dat"
    />
    <p>
      <span> {{ a }} {{ b }} {{ c }}</span>
    </p>
    <p>
      <button @click="$refs.scale_reel.roll_start()">
        START
      </button>
      <button @click="$refs.scale_reel.stop_debug()">
        STOP AT RANDOM
      </button>
    </p>
  </div>
</template>
<style lang="scss">
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@import "../presents/base";
@import "../presents/xixi";
</style>

<script>
// eslint-disable-next-line import/extensions
import Reellet from "../components/Reellet"

export default {
  name: "App",
  components: {
    Reellet,
  },
  data: () => ({
    code: "",
    messsage: "",
    iserror: false,
    a: 0,
    b: 0,
    c: 0,
    audio: {
      bellhit: new Audio("https://freesound.org/people/minerjr/sounds/89977/download/89977__minerjr__ballhit.wav"),
      gem: new Audio("http://adrianpayne.me/game/assets/sounds/gem.mp3"),
      pop2: new Audio("http://adrianpayne.me/game/assets/sounds/pop2.mp3"),
      pop1: new Audio("http://adrianpayne.me/game/assets/sounds/pop1.mp3"),
      loop1: new Audio("https://freesound.org/people/deleted_user_4338788/sounds/263377/download/263377__deleted-user-4338788__paddling-in-lake-sukamakaka.mp3")
    },
  }),
  mounted() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.loade()
      }, 0)
    })
  },
  methods: {
    roll_start() {

    },
    roll_done() {

    },
    roll_debug_dat({rx_x, target_n, out_display}) {
      this.a = rx_x
      this.b = target_n
      this.c = out_display
    },
    setlist(items) {
      this.datasetc = items
    },
    loade() {
      let t = this.$refs["scale_reel"]
      //t.load(this.datasetc)
    },
    reset() {

    },
    disabledOn() {
      let t = this.$refs["scale_reel"]
      // t.setDisabled(true)
      // t.setChildrenLocked(true)
    },
    disabledOff() {
      let t = this.$refs["scale_reel"]
      // t.setDisabled(false)
      // t.setChildrenLocked(false)
    }
  }
}
</script>
